@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="jumbotron h1" >HattrickApplication</h1>
    <a class="btn btn-primary" href="/Event/Index">Latest events</a>
</div>
<div class="row">
    
</div>